<!--
<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li *ngFor="let tempProductCategory of productCategories">

                <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
                    {{ tempProductCategory.categoryName }}
                </a>
                
            </li>

        </ul>
    </nav>
</div>-->

<section class="app">
    <aside class="sidebar">
    <header>
        Menu
      </header>
    <nav class="sidebar-nav">
      <ul>
        <li>
            <a href="#"><i class="ion-ios-analytics-outline"></i> <span class="">Electronics</span></a>
            <ul class="nav-flyout">
                <li *ngFor="let category of productCategories">
                    <a routerLink="/category/{{ category.id }}" routerLinkActive="active-link">
                      {{ category.categoryName }}
                    </a>
                  </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="ion-ios-settings"></i> <span class="">Sports & Outdoors</span></a>
            <ul class="nav-flyout">
              <li>
                <a href="#"><i class="ion-ios-alarm-outline"></i>Outdoor</a>
              </li>
              <li>
                <a href="#"><i class="ion-ios-camera-outline"></i>Fitness</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="ion-ios-paper-outline"></i> <span class="">Home & Kitchen</span></a>
            <ul class="nav-flyout">
              <li>
                <a href="#"><i class="ion-ios-filing-outline"></i>Fourniture</a>
              </li>
              <li>
                <a href="#"><i class="ion-ios-information-outline"></i>Decor</a>
              </li>
              <li>
                <a href="#"><i class="ion-ios-paperplane-outline"></i>Planes</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="ion-ios-navigate-outline"></i> <span class="">Fashion</span></a>
            <ul class="nav-flyout">
              <li>
                <a href="#"><i class="ion-ios-flame-outline"></i>Women</a>
                <ul class ="nav-flyout-secondary">
                    <li>
                        <a href="#"><i class="ion-ios-lightbulb-outline"></i>purses</a>
                    </li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="ion-ios-lightbulb-outline"></i>Men</a>
              </li>
              <li>
                <a href="#"><i class="ion-ios-location-outline"></i>Kids</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="ion-ios-paper-outline"></i> <span class="">Books</span></a>

          </li>

      </ul>
    </nav>
    </aside>
</section>