<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="contact-us.component.css">
  </head>
  <body>
    <div class="contact-us-container">
      <header class="header">
        <h1>Contact Us</h1>
      </header>
  
      <section class="contact">
        <ul>
          <li><strong>Address:</strong> 123 Main St, City, Country</li>
          <li><strong>Email:</strong> contact</li>
          <li><strong>Phone:</strong> +1234567890</li>
        </ul>
      </section>
    </div>
  </body>
  
