<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="about-us.component.css">
</head>
<body>
  <div class="about-us-container">
    <header class="header">
      <h1>About Us</h1>
    </header>

    <section class="company-info">
      <h2>Our Company</h2>
      <p>Welcome to ShopNook! We are a dedicated team of professionals passionate about providing the best online shopping experience. 
        Our goal is to bring you a wide variety of products at unbeatable prices.</p>
    </section>

    <section class="team">
      <h2>Meet Our Team</h2>
      <div class="team-member">
        <img src="../assets/images/Face.jpg" alt="Team Member 1">
        <h3>Imad-Eddine Abdessami</h3>
        <p>Team Member</p>
      </div>
      <div class="team-member">
        <img src="../assets/images/Face.jpg" alt="Team Member 2">
        <h3>Mohammed Salih Mezraoui</h3>
        <p>Team Member</p>
      </div>
    </section>
  </div>
</body>
