.member-special {
    text-align: center;
    padding: 20px;
    border: 1px solid #b0e8f0; /* Match the alert-info border color */
    background-color: #b0e8f0; /* Match the alert-info background color */
    color: #0c5460; /* Match the alert-info text color */
    border-radius: 5px;
    margin: 20px 0;
    margin-top: 75px;
}

.member-special-title {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.member-special-message,
.member-special-discount {
    margin: 5px 0;
    font-size: 16px;
}
