<!-- <div class="main-content">

    <div align="center" class="alert alert-warning col-md-12" role="alert">
        <h3>Members Special</h3>

        <p>We appreciate your membership.</p>

        <p>Member discounts are coming soon!!</p>
    </div>
    
</div> -->

<div class="alert alert-info member-special" role="alert">
    <h3 class="member-special-title">Exclusive Member Benefits</h3>
    <p class="member-special-message">We appreciate your membership.</p>
    <p class="member-special-discount">Stay tuned for exciting discounts and offers!</p>
</div>
